@import '../commons/variables';
@import '../commons/mixins';

.main {
  display: flex;
  background-color: $color-primary;
}

.content {
  @include maxWidthCenter();
  display: flex;
  flex: 1;
  padding: 8px 0;
  flex-direction: row;

  .imgContainer {
    display: flex;
    flex: 1;
    padding-right: 8px;
  }

  .searchInput {
    display: flex;
    position: relative;
    flex: 12;
    flex-direction: row;
    align-items: center;

    input {
      flex: 1;
      border: 0;
      height: 36px;
      border-radius: 4px;
      padding: 16px;
      padding-right: 52px;

      box-sizing: border-box;

      font-size: 18px;
      color: $color-title;

      &::placeholder {
        color: $color-body;
      }

      &:focus {
        outline: 2px solid $color-secondary;
      }
    }

    button {
      position: absolute;
      right: 0;
      height: 36px;
      width: 36px;

      @include flexCenter();

      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;

      background-color: $color-background;
    }
  }

  @media only screen and (max-width: $max-width) {
    padding: 8px;
  }
}
